<div class="order-container">
    <div class="orderCenter">
      <form [formGroup]="orderForm">
        <mat-form-field appearance="fill">
          <mat-label>Order ID</mat-label>
          <input matInput placeholder="Order Id" formControlName="orderId" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Product Name</mat-label>
          <input matInput placeholder="Product Name" formControlName="product" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Full Name</mat-label>
          <input matInput placeholder="Full Name" formControlName="orderFullName" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput placeholder="Address" formControlName="address" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Contact Number</mat-label>
          <input matInput placeholder="Contact Number" formControlName="orderContactNumber" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Order Status</mat-label>
          <input matInput placeholder="Order Status" formControlName="orderStatus" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Amount</mat-label>
          <input matInput placeholder="Amount" formControlName="orderAmount" />
        </mat-form-field>
        <button
          (click)="Save()"
          mat-raised-button
          color="accent"
        >
          Save
        </button>
      </form>
    </div>
  </div>
  