<div class="coupon-container">
  <div class="couponCenter">
    <form [formGroup]="couponForm">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Type" formControlName="code" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Discount Type</mat-label>
        <input matInput placeholder="Name" formControlName="discount_type" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Discount Value</mat-label>
          <input matInput placeholder="Type" formControlName="discount_value" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Valid From</mat-label>
          <input matInput placeholder="Valid From" formControlName="valid_from" />
        </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Valid Until</mat-label>
            <input matInput placeholder="Valid Until" formControlName="valid_until" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Min Order Amount </mat-label>
            <input matInput placeholder="Min Order Amount" formControlName="min_order_amount" />
          </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Applicable Products</mat-label>
              <input matInput placeholder="Applicable Products" formControlName="applicable_products" />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Applicable Categories</mat-label>
              <input matInput placeholder="Name" formControlName="applicable_categories" />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Usage Limit</mat-label>
                <input matInput placeholder="Usage Limit" formControlName="usage_limit" />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Used Count</mat-label>
                <input matInput placeholder="Used Count" formControlName="used_count" />
              </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Active</mat-label>
                  <input matInput placeholder="Active" formControlName="is_active" />
                </mat-form-field>
                
      
                <button
                *ngIf="!isUpdateActive"
                (click)="Save()"
                mat-raised-button
                color="accent"
              >
                Save
              </button>
              <button
                *ngIf="isUpdateActive"
                (click)="update()"
                mat-raised-button
                color="accent"
              >
                Update
              </button>
    </form>
  </div>
</div>

