:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-drawer {
    width: 260px;
  }
  mat-drawer-container {
    height: 100%;
  }
    mat-drawer-content{
      padding: 70px;
    }
  mat-drawer {
    background: #d58121;
  }

  //loader
  .loader{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(232, 225, 225, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    .mat-mdc-progress-spinner.mat-accent {
        --mdc-circular-progress-active-indicator-color: #d58121;
      }
  }

  .menu-button{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 10px;
    left: 10px;
    background: #fff;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    &.close{
      left: 260px;
    }
  mat-icon{
    margin-right: 0px;}
  }