  <div class="category-container">
  <div class="categoryCenter">
    <form [formGroup]="categoryForm">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Description" formControlName="description" />
      </mat-form-field>

      <mat-form-field *ngIf="!categoryIdToUpdate">
        <mat-label>Select Parent Category</mat-label>
        <mat-select  formControlName="parent_category">
            <mat-option *ngFor="let category of categories; index as i;" [value]="category['_id']">{{category["name"]}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button
        *ngIf="!isUpdateActive"
        (click)="Save()"
        mat-raised-button
        color="accent"
      >
        Save
      </button>
      <button
        *ngIf="isUpdateActive"
        (click)="update()"
        mat-raised-button
        color="accent"
      >
        Update
      </button>
    </form>
  </div>
</div>
