:host {
    .mat-icon {
      vertical-align: middle;
      margin-right: 1rem;
    }
  }
  .logo {
    text-align: center;
    padding: 2.6rem 1rem;
    img {
      width: 200px;
    }
  }
  .mat-divider {
    border-top-width: 2px;
    border-color: white;
  }
  .mat-list-item {
    color: #94a3b8 !important;
    font-size: 0.8rem;
    height: 44px !important;
    margin-bottom: 4px;
    // &:hover {
    //   color: #f2f5f7 !important;
    // }
    ::ng-deep {
      .mat-list-item-content {
        border-radius: 5px;
        margin: 0 8px;
        // &:hover {
        //   background: #2c3344 !important;
        // }
      }
    }
  }
  .list-item-active {
    color: #f2f5f7 !important;
    ::ng-deep {
      .mdc-list-item__primary-text{
        color: #fff;
      }
      .mat-list-item-content {
        background: #2c3344 !important;
        // &:hover {
        //   background: #2c3344 !important;
        // }
      }
    }
  }
  .mat-subheader {
    color: #818cf8;
    font-size: 0.6rem;
    font-weight: 100;
    letter-spacing: 1px;
  }
    :host ::ng-deep {
      .mdc-list-item__primary-text {
        color: #fff;
      }
      .list-item-active{
        background: #2c3344;
      }
    }
    a {
  color: white !important;
}
:host ::ng-deep {
  .mat-expansion-panel-header{
      padding: 0px;
      &.submenu{
    // padding: 0 16px;
      }
            .mat-expansion-panel-header:not([aria-disabled=true]){
              margin-right: 8px;
            }
      .mat-content.mat-content-hide-toggle{
        margin-right: 0px;
      }
  }
 mat-expansion-panel,.mat-expansion-panel:not([class*=mat-elevation-z]),
 .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover{
  background: #d58121;
  color:#fff;
  box-shadow: none;
  border-radius: 0px;
// &:hover {
//     background: rgba(34, 34, 34, .22);
//     color: #2c3344;
//   }
  span::after{
    color: #fff;
  }
}
}
    .list-item-active {
      background: #2c3344;
    }

    .active{
      background: rgba(34,34,34,.22);
    }