<div class="product-container">
    <div class="productCenter">
      <form [formGroup]="ProductForm">
        <mat-form-field appearance="fill">
          <mat-label>Product Name</mat-label>
          <input matInput placeholder="name" formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Product Code</mat-label>
          <input matInput placeholder="Product Code" formControlName="code" />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Price</mat-label>
            <input matInput placeholder="Price" formControlName="price" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Discount</mat-label>
            <input matInput placeholder="Discount" formControlName="discount" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Categories</mat-label>
            <input matInput placeholder="Categories" formControlName="categories" />
          </mat-form-field>
          
  
          <button
          *ngIf="!isUpdateActive"
          (click)="Save()"
          mat-raised-button
          color="accent"
        >
          Save
        </button>
        <button
          *ngIf="isUpdateActive"
          (click)="update()"
          mat-raised-button
          color="accent"
        >
          Update
        </button>
      </form>
    </div>
  </div>
